
@{
    ViewData["Title"] = "Ativos";
}

<fieldset>
    <legend>Lista de Ativos</legend>
    <pre>@ViewBag.listaAtivosJson</pre>
    <div>
        <a asp-action="Novo">Novo Ativo</a>
    </div>
</fieldset>


