@{
    ViewData["Title"] = "TCC - PucMinas";
}

@using Microsoft.AspNetCore.Authentication

<h2>Sistema de Gestão Ambiental</h2>

<img class="img-fluid" style="-webkit-user-select: none;margin: auto;" src="https://news.files.bbci.co.uk/include/shorthand/42885/media/1920x1080_brazil_dams_nypqili.png">